body {
    background-image:url(../img/imagen.png);
    font-family: helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #484F4F;
}

header, .footer_p  {
    background-image:url(../img/imagen3.png);
    margin-left:10px;
    margin-right:10px;
    width:100%;
    height: 250%;
   
}

main {
    background-image:url(../img/imagen2.png);
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    
}

h1 {
    width: 40%;
    text-align: left;
    color: #35B7B7;
}

h2 {
    color: #1063B2;
    text-decoration: underline
} 

p{
    text-align:justify;
}

.conteneur {
    padding: 15px;
    margin: 20px;
   
}

.image img {
    width:20%;
    display:inline-block;
    vertical-align:top;
    float: left;
    margin: 50px 0px 50px 0px;
}


.yo {
    font-size: 18px;
    float: left;
    margin: 100px 0px 50px 10px;
    
}

.colonne {
    width:100%;
    padding: 10px;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

/*PORTFOLIOS*/

#info {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;              
    background:#fcf8e3;
    border:1px solid  #fbeed5;
    width:95%;
    max-width:900px;
    margin:0 auto 40px auto;
    font-family:arial;
    font-size:12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

    #info .info-wrapper {
        padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

    }
    
    #info a {
        color:#c09853;
        text-decoration:none;
    }
    
    #info p {
        margin:5px 0 0 0;
    }


.container { 
    position: relative; 
    width: 960px; 
    margin: 0 auto; 
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  
}
 
#filters {
    margin:1%;
    padding:0;
    list-style:none;
}

    #filters li {
        float:left;
    }
    
    #filters li span {
        display: block;
        padding:5px 20px;       
        text-decoration:none;
        color: wite;
        cursor: pointer;
    }
    
    #filters li span.active {
        background: #2896E7;
        color: white;
    }
 

 
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:23%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
}

    .portfolio-wrapper {
        overflow:hidden;
        position: relative !important;
        background: #2896E7;
        cursor:pointer;
    }

    .portfolio img {
        max-width:100%;
        position: relative;
    }
    
    .portfolio .label {
        position: absolute;
        width: 100%;
        height:40px;
        bottom:-40px;
    }

        .portfolio .label-bg {
            background: #e95a44;
            width: 100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
        }
    
        .portfolio .label-text {
            color:#fff;
            position: relative;
            z-index:500;
            padding:5px 8px;
        }
            
            .portfolio .text-category {
                display:block;
                font-size:9px;
            }
    
 /*FOOTER*/
 
footer{
    bottom:0;
}

footer p{
    text-align:center;
    width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    margin-left:30px;
}

.map {
    width: 100%;
    height: 300px;
} 

iframe{
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    height: 300px;
    width: 100%;
}   

/*CONTACT*/

#nom, #prenom, #email, #textarea{
    margin: 10px;
}
.contact {
    background: #EFEFEF;
    padding: 15px;
    width: auto;
    height: auto;
    text-align: left;
}

for_cont {
    text-align: center;
}

input, textarea {
    box-shadow: 1px 1px 0px #2896E7;
    background: #D3D3D3;
    padding: 15px;
    width: 300px;
    display: block;
  
}
textarea{
    width: 400px;
    height: 300px;
    
}

#envoyer {
    width: auto;
    padding: 5px;
    background: #6991AD;
    color: white;
    cursor: pointer;
    margin: 0px 0px 0px 205px ;
}


/*Media Queries*/

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        width: 768px; 
    }
    input, textarea {
        width: auto;
        
    }
    
    
}  
    



/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container { 
        width: 95%; 
    }
    
    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }       

    #ads {
        display:none;
    }
    input, textarea {
        width: 150px;
        float: left;
        
    }
    .contact {
         width: 210px;
    }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }
    
    #ads {
        display:none;
    }
    
   
}


/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;